body{
	font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.row{
	display:flex;
	align-items:center;
}

.hi{
	width: 100%;
	text-align: center;
}

.pr{
	padding-right:5px;
}

.pl{
	padding-left:5px;
}

.pb{
	padding-bottom:30px;
}

.ml{
	margin-left:30px;
}

.time{
	background-color: rgb(14, 26, 119);
	width: max-content;
	padding: 10px; 
	color: white;
}

.logo{
	padding-right:10px;
	height:50px;
}

.data{
	padding-left:10px;
	/* padding-right:10px; */
	border-left: solid 2px;
}

.globo{
	color: rgb(0, 0, 255);
}

.record{
	color: rgb(255, 0, 0);
}

.sbt{
	color: rgb(0, 176, 80);
}

.band{
	color: rgb(255, 51, 204);
}

.redetv{
	color: rgb(148, 138, 84);
}

.tle{
	color: rgb(180, 180, 180);
}

.custom_pgm{
	padding: 6px 12px;
    background-color: #0E1A77;
    color: white;
    text-transform: uppercase;
    border-radius: 20px;
    display: flex;
    align-items: center;
}